
@{
    ViewBag.Title = "TestSignUp";
}

<h2>Test SignUp</h2>
<form action="@Url.Content("~")Register" method="post">
    <div class="row">
        <div class="col">
            Email :
        </div>
        <div class="col">
            <input type="email" value="" name="register_email" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            Your Name :
        </div>
        <div class="col">
            <input type="text" value="" name="register_name" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            Your User ID :
        </div>
        <div class="col">
            <input type="text" value="" name="register_user" />
        </div>
    </div>
    <input type="submit" value="submit" class="btn btn-success" />
</form>

