
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form method="post" action="">
    <input type="submit" value="Test Sent Email" class="btn btn-success" />
    <br />
    @ViewData["Message"]
</form>
