
@{
    ViewBag.Title = "Index";
}
<h2>Test</h2>
<a href="@Url.Content("~")Order/Test">Test UAT</a>
<br />
<a href="@Url.Content("~")Order/TestProduction">Test PRD</a>
<h2>Orders</h2>
<a href="@Url.Content("~")Order/Group">Order Group</a>
<br/>
<a href="@Url.Content("~")Order/List">Order Lists</a>
