
@{
    ViewBag.Title = "Decode";
}
<h2>Decode</h2>
<form action="" method="post">
    <input type="text" name="responseText" value="" />
    <input type="submit" value="Submit" class="btn btn-success" />
</form>
@ViewBag.Result
