
@{
    ViewBag.Title = "Checkout";
}
<h2>Checkout</h2>
<form method="post" action="">
    <b>Payment Amount </b><br/>
    <input type="number" name="amount" value="0" />
    <br/>
    <b>Type</b><br/>
    <select name="paytype" class="form-control dropdown">
        <option value="test">
            TEST
        </option>
        <option value="prd">
            REAL
        </option>
    </select>
    <input type="submit" value="Proceed" class="btn btn-success" />
</form>
