@using ThaiPaymentAPI.Models;
@{
    
}
<div class="jumbotron">
    <h1>THAI PAYMENT API</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <label>MERCHANT ID</label> : @INETConstants.INETMerchantKeyUAT
    </div>
    <div class="col-md-4">
        <label>POSTBACK URL</label> : @INETConstants.INETCallbackUrl
    </div>
    <div class="col-md-4">
        <label>PAYMENT URL</label> : @INETConstants.INETUrlOrderPlaceUAT
    </div>
</div>
